/* This is necessary for the card flip */
.card-flipper {
    perspective: 1000px;
}

.card-inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
}

.card-back {
    transform: rotateY(180deg);
}
